body {
  background-color: #F5F5F5;
  height: 100%;
  font-family: 'Biryani', sans-serif;
  color: #363636;
}

header {
  padding-left: 90px;
}

h1 {
  margin-left: 10px;
}

.site-logo {
  height: 60px;
  width: 60px;
  margin-top: 15px;
  margin-left: 10px;
}

.nav-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 10px;
  padding-left: 5px;
  cursor: pointer;
}

.toggle-highlight {
  border-left: solid 4px #1CA3BA;
  padding-left: 0px;
  margin-right: 0px;
  opacity: 80%;
  padding-left: 5px;
}

.nav-icons-box {
  height: 200px;
  width: 50px;
  position: absolute;
  top: 250px;
  left: 8px;
}

#welcome-banner {
  width: 560px;
  height: 70px;
  background: linear-gradient(45deg, #8ED1DC, #E3F4F6);
  padding-left: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
  border-radius: 5px;
  padding-top: 5px;
  position: relative;
}

.hidden {
  display: none;
}

#x-button {
  color: grey;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  cursor: pointer;
}

.finance-box {
  width: 165.5px;
  height: 65px;
  background-color: white;
  display: inline-block;
  margin-right: 20px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
  border-radius: 5px;
}

.finance-box.left {
  margin-left: 30px;
}

.finance-titles {
  font-size: 12px;
  margin-bottom: 0px;
}

.finance-numbers {
  font-size: 20px;
  margin-top: 0px;
}

.accounts-title {
  width: 590px;
  height: 65px;
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
}

.manage-account-button {
  position: absolute;
  margin: 0px;
  right: 0;
  top: 20px;
}

button {
  background-color: #1CA3BA;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
}

.accounts-header {
  position: absolute;
  top: 5px;
}

.new-transaction-button {
  position: absolute;
  margin-right: 10px;
  right: 20px;
  top: 25px;
}

nav {
  background-color: white;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 0px 8px 0px 0px;
  width: 70px;
  height: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
}

main {
  margin-left: 10px;
  padding-left: 60px;
  width: 650px;
  height: 100%;
  display: inline-block;
}

.recent-transactions {
  width: 475px;
  height: 100%;
  float: right;
  position: relative;
  margin: auto 50px auto 10px;
  padding: 10px 30px 20px 30px;
  background: white;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
  border-radius: 5px;
}

.accounts {
  width: 575px;
  height: 60px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-left: 15px;
  position: relative;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
  border-radius: 5px;
}

.accounts-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: 10px;
}

.bank-name {
  position: absolute;
  left: 150px;
}

.account-type {
  position: absolute;
  left: 400px;
}

.recent-trans-table {
  border-bottom: #CCCCCC solid 1px;
  width: 475px;
  text-align: left;
  float: left;
  line-height: 35px;
}

/* transaction page ------------- */

.transactions-header {
  padding-left: 100px;
  position: relative;
  width: 600px;
}

.reg-trans-table {
  background-color: white;
  border-bottom: #CCCCCC solid 1px;
  width: 600px;
  float: left;
  text-align: left;
  line-height: 35px;
  margin-left: 100px;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
}

.reg-trans-table td {
  padding-left: 20px;
}

.reg-trans-table th {
  padding-left: 20px;
  padding-top: 10px;
}

.trans-buttons-box {
  position: absolute;
  top: 10px;
  right: 0;
}

.trans-button {
  width: 100px;
  cursor: pointer;
  border: transparent;
}

.trans-button:hover {
  background-color: white;
  border: solid 2px #1CA3BA;
  transition: 0;
  color: #1CA3BA;
}

.new-transaction {
  width: 400px;
  box-shadow: 0.2em 0.2em .9em #ebebeb;
  float: right;
  top: 100px;
  right: 80px;
  border: transparent;
  background-color: white;
  text-align: center;
  width: 500px;
  margin: 0px 50px;
}

input, select{
  box-shadow: 0 0 5px #ebebeb;
  border: white;
  border: #CCCCCC solid 1px;
  width: 300px;
  height: 30px
}

.log-button {
  display: block;
  margin: 20px auto 20px 100px;
}

fieldset p {
  margin-bottom: 0px;
  font-size: 15px;
  text-align: left;
  margin-left: 100px;
}
